body {
    width: 480px;
    height: 500px;
    font-family: 'Raleway', sans-serif;
    background-image:url('../images/grey.png');
	background-repeat:repeat-all;
}

a:visited {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

#container {
	padding: 5px;
}

.item {
	margin: 3px 15px;
	opacity: .9;
}

.itemHeader {
	margin: 3px;
	opacity: .9;
}

/* colors taken from bootstrap alerts */
.good {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	/*color: #3c763d;*/
}

.okay {
	background-color: #fcf8e3; 
	border-color: #faebcc;
	/*color: #8a6d3b;*/
}

.bad {
	background-color: #f2dede; 
	border-color: #ebccd1; 
	/*color: #a94442;*/
}

.item .info, .itemHeader .info {
	float: left;
	margin-left: 10px;
}

.item h4, .itemHeader h4{
	display: inline;
	margin-right: 10px;
}

.icon {
	float: left;
	border-radius: 5px;
}

.item_buttons {
	float: right;
}

.modal-dialog {
	width: 460px;
}

.clear {
    clear: both;
}

.btn {
	margin: 1px;
}

.summary {
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
    opacity: .7;
}

.page {
    text-align: center;
    margin: 10px;
}

.summary * {
    margin: auto;
}

.page * {
    margin: auto;
}

.summary table {
    text-align: left;
}

.page table {
    text-align: left;
}

.page td input {
    width: 100%;
}

.dropdown-menu {
	
	position: relative;
	width: 10em;
	float: none;
	
	vertical-align: middle;
}
/*
.timeSelectDropdownMenu {
    margin-left: -10px;
}
*/
.summary td {
    padding: 5px 30px;
    text-align: center;
}

h1 {
    text-align: center;
}