body {
    width: 480px;
    height: 500px;
}

.item {
	margin: 5px;
}

/* colors taken from bootstrap alerts */
.good {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	/*color: #3c763d;*/
}

.okay {
	background-color: #fcf8e3; 
	border-color: #faebcc;
	/*color: #8a6d3b;*/
}

.bad {
	background-color: #f2dede; 
	border-color: #ebccd1; 
	/*color: #a94442;*/
}

.item .info {
	float: left;
	margin-left: 10px;
}

.item h4 {
	display: inline;
	margin-right: 10px;
}

.icon {
	float: left;
	border-radius: 5px;
}

.item_buttons {
	float: right;
}

.clear {
    clear: both;
}

.btn {
	margin: 1px;
}

.summary {
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
}

.page {
    text-align: center;
    margin: 10px;
}

.summary * {
    margin: auto;
}

.page * {
    margin: auto;
}

.summary table {
    text-align: left;
}

.page table {
    text-align: left;
}